<footer>
  <div class="off-canvas-wrap">
    <div class="row">
      <div class="medium-4 columns">
        <div class="theme-info">
          <a href="https://github.com/mehta/feedback/issues/new" data-dropdown="drop1" style="font-size: 20px; text-shadow: 0 1px 3px rgba(0,0,0,0.25); color: #fff" class="fi-comments style4 button" target="_blank">    Leave me feedback</a>
        </div>
      </div>

      <div class="medium-8 columns">
        <div class="row collapse">
          <div class="medium-4 columns">
            <div class="support-links">
              <h3>DEV</h3>
              <p>asdf adsf dsf dsaf dsa fsad  gasfsda sadf dsaf sad fadsf asdfasd asd asdasfas s</p>
            </div>
          </div>
          <div class="medium-4 columns">
            <div class="support-links">
              <h3>DIY</h3>
              <p>asdf adsf dsf dsaf dsa fsad  gasfsda sadf dsaf sad fadsf asdfasd asd asdasfas s</p>
            </div>
          </div>
          <div class="medium-4 columns">
            <div class="support-links">
              <h3>GISTS</h3>
              <p>asdf adsf dsf dsaf dsa fsad  gasfsda sadf dsaf sad fadsf asdfasd asd asdasfas s</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="menu">
    <div class="row text-center cent-perecent-width zero-margin">
      <ul class="zero-margin inline-flex">
        <li><a href="http://twitter.com/mehta_" class="fi-social-twitter" style="font-size: 50px;"></a></li>
        <li><a href="http://github.com/mehta" class="fi-social-github" style="font-size: 50px;"></a></li>
        <li><a href="http://in.linkedin.com/in/abhinavmehta" class="fi-social-linkedin" style="font-size: 50px;"></a></li>
        <li><a href="http://facebook.com/developeratworks" class="fi-social-facebook" style="font-size: 50px;"></a></li>
        <li><a href="http://abhinavmehta.com/connect/" class="fi-mail" style="font-size: 50px;"></a></li>
      </ul>
    </div>
    <div class="row">
      <p class="copyright" style="text-align: center;">{{ site.copyright }}</p>
    </div>
  </div>
</footer>