<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta name="language" content="en-us" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="1 days" />
    <meta name="distribution" content="Bangalore,Karnataka,India" />

    <!-- clean canonical url for search engine -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bring Normalize CSS -->
    <link rel="stylesheet" href="{{ site.assets }}/vendors/normalize.css">

    <!-- Bring Foundation 5.2.2 CSS -->
    <link rel="stylesheet" href="{{ site.assets }}/vendors/foundation-5.2.2/css/foundation.css">
    <link rel="stylesheet" href="{{ site.assets }}/vendors/foundation-5.2.2/css/foundation-icons.css">

    <!-- Bring jQuery 2.1.1 -->
    <script type="text/javascript" src="{{ site.assets }}/vendors/jquery-2.1.1.js"></script>

    <!-- Bring Foundation 5.2.2 JS -->
    <script type="text/javascript" src="{{ site.assets }}/vendors/foundation-5.2.2/js/foundation/foundation.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.assets }}/css/main.css">

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50842388-1', 'abhinavmehta.com');
      ga('send', 'pageview');

    </script>
</head>
