{% include meta.html %}

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | {{ site.author }}</title>

<!-- clean canonical url for search engine -->
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<!-- Bring Normalize CSS -->
<link rel="stylesheet" href="{{ site.assets }}/vendors/normalize.css">

<!-- Bring Foundation 5.2.2 CSS -->
<link rel="stylesheet" href="{{ site.assets }}/vendors/foundation-5.2.3/css/foundation.css">
<link rel="stylesheet" href="{{ site.assets }}/vendors/foundation-icons-3/foundation-icons.css">

<!-- Custom CSS (GLOBALLY APPLICABLE) -->
<link rel="stylesheet" href="{{ site.assets }}/css/app.css">

<!-- Bring jQuery 2.1.1 -->
<script type="text/javascript" src="{{ site.assets }}/vendors/jquery-2.1.1.js"></script>

<!-- Bring Foundation 5.2.2 JS -->
<script type="text/javascript" src="{{ site.assets }}/vendors/foundation-5.2.3/js/foundation/foundation.js"></script>
