.description {
  font-size: 1.2857em;
  max-width: 605px;
  margin: 24px auto;
  font-family: "Light","Helvetica Neue","Helvetica",Arial,sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #FFC3C3;
}

#personal-info li, li a {
  color: #939393;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

#personal-info li {
  margin-left: 15px;
}

#personal-info li a {
  margin-right: 15px;
}

#user-info {
  background: #1a1a1a;
  color: #fff;
  font-family: "Light","Helvetica Neue","Helvetica",Arial,sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

#user-info h2 {
  font-size: 3.429em;
  font-weight: normal;
  max-width: 60%;
  margin: 1em auto 0px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#user-info h2 a {
  color: #e6e6e6;
  background: transparent;
}

.spotlight {
  text-align: center;
  padding: 55px;
}

.spotlight figure {
  margin: auto;
  display: block;
  position: relative;
  width: 117px;
}

.spotlight img {
  border-radius: 50%;
  background: #1f1f1f;
  outline: #2f2f2f;
  text-align: center;
  margin-bottom: 0;
}

.text-align-right {
  text-align: right;
}

@media only screen and (max-width: 40.063em) {
  .post-article {
    margin: 10px;
  }

  .post-article div {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .post-header {
    background: #2CFFE6;
  }

  .post-footer ul {
    list-style-type: none;
    width: 100%;
    position: relative;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .post-date {
    float: right;
  }

  .post-tag {
    float: left;
  }

  #tweet {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 28px;
    font-family: cursive;
  }

  .small-device-zero-margin {
    margin-bottom: 65px !important;
  }
}

@media only screen and (min-width: 40.063em) {
  .post-article {
    margin: 0px 30px 10px 30px;
  }

  .post-header {
    background: #2CFFE6;
  }

  .post-section {
    width: 70%;
    float: right;
    position: relative;
    text-align: justify;
  }

  .post-footer {
    width: 28%;
    float: left;
  }

  .post-footer ul {
    float: right;
    width: 100%;
    position: relative;
    margin-bottom: 0;
    margin-right: 15px;
  }

  .post-footer ul li {
    float: left;
    font-weight: 600;
    font-size: 0.875em;
    display: block;
    width: 100%;
    text-align: right;
  }

  #tweet {
    font-size: 38px;
    font-family: cursive;
    margin: 50px 50px 0px 50px;
  }

}

/* start: animated box */
.spinner, #spinner {
  width: 50px;
  height: 50px;
  background-color: #c76eca;

  margin: 50px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/* end: animated box */
